@charset "UTF-8";

body{
	margin: 0;
	background-color: #eee;
	color: #444;
}
h1, h2, h3, p, dl, dt, dd, ul{
	margin: 0;
	padding: 0;
	font-size: 100%;
}
a{
	color:#0275d8;
}
@mixin clearfix {
	&:after{
	  display: block;
	  content: "";
	  clear: both;
	}
}
@mixin grid {
	padding: {
		right: 15px;
		left: 15px;
	}
	box-sizing: border-box;
}
header{
	background-color: #fff;
	border-top: 50px #444 solid;
	border-bottom: 1px #a6a6a6 solid;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
	position: relative;
	div{
		width: 960px;
		position: relative;
		margin: {
			right: auto;
			left: auto;
		}
	}
	h1{
		padding-top: 30px;
		width: 260px;
		float: left;
	}
	nav{
		width: 640px;
		float: right;
		li{
			list-style: none;
			width: 160px;
			float: left;
			a{
				line-height: 80px;
				text-align: center;
				color: #444;
				text-decoration: none;
				display: block;
				transition-duration: 0.5s;
				&:hover, &:focus, &:active{
					color: #000;
					background-color: #eee;
				}
			}
			&.nav-contact{
				float: none;
				position: absolute;
				top: -50px;
				right: 0;
				a{
					background-color: #ffc424;
					background-image: url(../img/icn_contact.png);
					background-repeat: no-repeat;
					background-position: 22px 15px;
					line-height: 50px;
					padding-left: 60px;
					text-align: left;
				}
			}
		}
		ul{
			@include clearfix;
		}
	}
	@include clearfix;
}
.container{
	width: 960px;
	margin:{
		right: auto;
		left: auto;
	}
	padding-bottom: 5rem;
	background-color: #fff;
	main{
		width: 75%;
		float: left;
		@include grid;
		h2{
			margin-top: 2rem;
			color: #0769af;
			font-size: 30px;
		}
		h3{
			margin-top: 1.5rem;
			font-size: 24px;
		}
		p{
			margin-top: 1rem;
			line-height: 1.5;
		}
	}
	aside{
		width: 25%;
		float: right;
		@include grid;
		margin-top: 2rem;
		.oomori{
			dl{
				margin-top: 1rem;
			}
		}
		dd{
			font-size: 87.5%;
		}
		a{
			&:hover, &:focus, &:active{
				img{
					opacity: 0.7;
				}
			}
		}
	}
	@include clearfix;
}
.main-image{
	background-image: url(../img/main.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	height: 350px;
	text-align: center;
	img{
		padding-top: 124px;
	}
}
.reason-3{
	dl{
		margin: {
			top: 1rem;
			right: 30px;
		}
		width: 203px;
		float: left;
		border: 1px #146da8 solid;
		padding-top: 159px;
		background-color: #adc6d9;
		background-image: url(../img/image_reason3-1.png);
		background-repeat: no-repeat;
		background-position: center 15px;
		&:nth-of-type(2){
			background-image: url(../img/image_reason3-2.png);
			background-position: center 19px;
		}
		&:nth-of-type(3){
			background-image: url(../img/image_reason3-3.png);
			background-position: center 17px;
			margin-right: 0;
		}
	}
	dt{
		background-color: #fff;
		padding: 15px 15px 0 15px;
		font-weight: bold;
		min-height: 5.5em;
	}
	dd{
		background-color: #fff;
		padding: 0 15px 15px 15px;
	}
	ul{
		list-style: none;
	}
	li{
		margin-bottom: 0.5rem;
		background-image: url(../img/icn_list.png);
		background-repeat: no-repeat;
		background-position: left 8px;
		padding-left: 12px;
		&:last-of-type{
			margin-bottom: 0;
		}
	}
}
footer{
	background-color: #444;
	p{
		padding: 2rem 0;
		text-align: center;
		color: #fff;
	}
}
