@charset "UTF-8";

body{
	margin: 0;
	background-color: #eee;
	color: #444;
}
h1, h2, h3, p, dt, dd, ul{
	margin: 0;
	padding: 0;
	font-size: 100%;
}
header{
	background-color: #fff;
	border-top: 50px solid #444;
	border-bottom: 1px solid #A6A6A6;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);;
	position: relative;
}
header div{
	width: 970px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
}
header h1{
	padding-top: 30px;
	width: 260px;
	float: left;
}
nav{
	width: 640px;
	float: right;
}
header:after{
	display:block;
	content:"";
	clear: both;
}
nav li{
	list-style:none;
	width: 160px;
	float: left;
}
nav li a{
	display:block;
	line-height: 80px;
	text-align:center;
	color:#444;
	text-decoration: none;
	transition-duration: 0.5s;
}
nav li a:hover,
nav li a:focus,
nav li a:active{
	color:#000;
	background-color: #eee;
}
nav .nav-contact {
	float: none;
	position: absolute;
	top: -50px;
	right: 0;
}
nav .nav-contact a{
	background-color: #ffc424;
	background-image: url(../img/icn_contact.png);
	line-height: 50px;
	background-repeat: no-repeat;
	background-position: 22px 15px;
	padding-left: 60px;
	text-align: left;
}
nav ul:after{
	display:block;
	content:"";
	clear: both;
}
.container{
	width: 970px;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 5rem;
	background-color: #fff;
	z-index:1;
}
.main-image{
	background-image:url(../img/main.jpg);
	background-repeat:no-repeat;
	background-position: center top;
	height: 350px;
	text-align:center;
}
.main-image img{
	padding-top: 124px;
}
main{
	padding-left: 15px;
	padding-right: 15px;
	width: 75%;
	box-sizing:border-box;
	float: left;
}
aside{
	padding-left: 15px;
	padding-right: 15px;
	width: 25%;
	box-sizing:border-box;
	float: right;
}
.container:after{
	display:block;
	content:"";
	clear: both;
}
main h2{
	margin-top: 2rem;
	color: #0769af;
	font-size: 30px;
}
main h3{
	margin-top: 1.5rem;
	font-size: 24px;
}
main p{
	margin-top: 1rem;
	line-height: 1.5;
}
.reason-3 dl{
	margin-top: 1rem;
	width: 222px;
	float: left;
	box-sizing:border-box;
	margin-right: 15px;
	border: 1px solid #146DA8;
	padding-top: 159px;
	background-color: #adc6d9;
	background-image:url(../img/image_reason3-1.png);
	background-repeat:no-repeat;
	background-position: center 15px;
}
.reason-3 dl:nth-of-type(2){
	background-image:url(../img/image_reason3-2.png);
	background-position: center 19px;
}
.reason-3 dl:nth-of-type(3){
	margin-right: 0;
	background-image:url(../img/image_reason3-3.png);
	background-position: center 17px;
}
.reason-3 dt{
	background-color: #fff;
	padding: 15px 15px 0;
	font-weight: bold;
	min-height: 5em;
}
.reason-3 dd{
	background-color: #fff;
	padding: 0 15px 15px;
}
.reason-3 ul{
	list-style:none;
}
.reason-3 li{
	margin-bottom: 0.5rem;
	background-image: url(../img/icn_list.png);
	background-repeat: no-repeat;
	background-position: left 8px;
	padding-left: 12px;
}
.reason-3 li:last-of-type{
	margin-bottom: 0;
}
aside{
	margin-top: 2rem;
}
aside img{
	width: 210px;
}
aside dt{
	margin-top: 1rem;
}
aside dd{
	font-size: 14px;
}
aside a:hover img,
aside a:focus img,
aside a:active img{
	opacity: .7;
}
footer{
	background-color: #444;
}
footer p{
	padding: 2rem 0;
	text-align:center;
	color:#fff;
}
